<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f5d97a21b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/lumen/bootstrap.css">
    <title>The Family Dog</title>
</head>
    
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/user">My Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="/user/my_reviews">My Breed Reviews</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="/user/my_favorites">My Favorite Breeds</a></li> -->
        <li class="nav-item"><a class="nav-link" href="/search">Search Breeds</a></li>
        <li class="nav-item"><a class="nav-link" href="/reviews/list_reviews">All Breed Reviews</a></li>
        <li class="nav-item"><a class="nav-link" href="/adopt">Adopt</a></li>
    </ul>

    <div>
        <ul class="nav navbar-nav me-auto navbar-right navbar-collapse">
            {% if not g.user %}
            <li class="nav-item"><a class="nav-link" aria-label="Sign Up" href="/signup">Sign up</a></li>
            <li class="nav-item"><a class="nav-link" aria-label="Login" href="/login">Log in</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" aria-label="Logout" href="/logout">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<!-- Flash Messages  -->
<div class="container-fluid mt-3" id="page-container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}


<h1>The Family Dog</h1>
<h3>...helping you find the dog to fit your lifestyle!</h3></h1>

<hr>
<br>
<div class="container">
{% block content %}
<!-- Page content goes here -->

<br><br>

{% endblock %}
</div>
<hr>
</body>
</html>