{% extends 'base.html' %}

{% block title %} User Profile {% endblock %}

{% block content %}

<h1><b>{{ user.username }}</b></h1>
<br><br>
<p> 
    <img src='{{ user.profile_photo }}' alt="Update Profile to add a photo">
    <br><br>
    <b>Email:</b>{{ user.email }}
    <br>
    <b>Adults in household:</b>{{ user.family_members_adults }}
    <br>
    <b>Children in household:</b>{{ user.family_members_children }}
    <br>
    <b>Other pets in household:</b>{{ user.other_pets }}
    <br>
    <b>Home environment:</b>{{ user.environment }}
    <br>
    <b>Experience with dogs:</b>{{ user.experience_level }}
    <br>
</p>

<form >
    <button formmethod="GET" formaction="/user/edit_form" class="btn btn-secondary" type="submit">Update Profile</button> 
    <button formmethod="POST" formaction="/user/delete" class="btn btn-secondary" type="submit">Delete User</button> 
</form>
<br><br>
{% endblock %}