{% extends 'base.html' %}

{% block title %} My Reviews {% endblock %}

{% block content %}

<div class="container">
    <h1>{{user.username}}'s Breed Reviews:</h1>
    <br><br>
    {% for review in user.reviews %}
    <div class="key">
        <b>Key:</b>  0 = Never/Least - 3 = Sometimes/Some - 5 = Always/Most
    </div>
    <br>
    <h4>{{ review.breed_name }}</h4>
    <b>Maintenance Rating:</b>{{ review.maintenance_rating }}
    <br>
    <b>Behavior Rating:</b>{{ review.behavior_rating }}
    <br>
    <b>trainability_rating:</b>{{ review.trainability_rating }}
    <br>
    <b>Comments:</b>{{ review.comments }}    
    <br><br>
    <div class="mb-3">
        <form>
            <button formmethod="GET" formaction="/reviews/{{ review.id }}/edit_review_form" class="btn btn-secondary" type="submit">Update Review</button>
            <button formmethod="POST" formaction="/reviews/{{ review.id }}/delete" class="btn btn-secondary" type="submit">Delete Review</button>
    </form>
    </div>
    <br><br>
    {% endfor %}
</div>


{% endblock %}